*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full_image{
    background-image: url(../img/u888/10041.webp);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    background-color: rgb(97, 11, 11);
}
.full_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header1{
    /* margin: 10px; */
    width: 100%;
    /* height: 50px; */
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #DD5F11;
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    border-radius: 10px;
    top: 0;
    z-index: 999;
    padding: 0;
}
.header1 a img{
    width: 50%;
    height: 90%;
    object-fit: fill;
    padding-top: 10px;
    padding-bottom: 10px;

} 
.fa-bars{
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px; */
    border: 2px solid #DD5F11;
    border-radius: 5px;
    color: #DD5F11;
    /* gap: 20px; */
    padding: 10px;
} 
.fa-gift{
    color: red;
    font-size: 30px;
}
.header1 ul{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 10px;
    list-style: none;
}
.header1 ul li{
    align-items: center;
    display: flex;
    justify-content: center;

}
.header1 ul li a{
    /* padding-top: 20px; */
    color: black;
    font-weight: 500 ;
    text-decoration: none;
    
}
.header1 ul li a:hover{
    color:red ;
}
.header2{
    position: relative;
    width: 100%;
    height: 60px;
    text-align: center;
}
.header2 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.small_img ul li a span{
    font-size: 20px;
    font-weight: 600;
}
.small_img ul{
    position: absolute;
    bottom: 35%;
    right: 44%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.small_img li a{

    color: white;
    text-decoration: none;
}
.small_img img{
    width: 50px;
    height: 50px;
}
.header3_top{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.header3_top .box{
    width: 100%;
    height: 100%;
}
.box img{
    object-fit: fill;
}
.slider{
    width: 100%;
    height: auto;
}


.slider_big{
    list-style: none;
    width: 100%;
    height: 60%;
    padding-left: 0;
    margin-top: 2%;
}
.slider_small{
    list-style: none;
    width: 100%;
    height: 70%;
    padding: 0;  
}
.slider_big li{
    width: 100%;
    max-height: 100%;
}
.slider_small li{
    width: 100%;
    height: 100%;
}
.slider_big li a img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.slider_small li a img{
    width:100%;
    height: 100%;
    object-fit: fill;
    padding: 0px 10px;
}
.slider_small{
    width: 100%;
    height: 30%;
}
.header5{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.header5 .boxx{
    width: 33%;
    height: 100%;
}
.header5 .boxx img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.header6_box_left .nav li img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav li{
    width: 300px;
    height: 60px;
    margin-top: 20px;
    position: relative;
    display: block;
}
.nav li a{
    margin-right: 0;
    width: 300px;
    height: 56px;
}
.nav li a img{
    position: absolute;
    /* right:; */
    left: 5px;
    top:3%;
    width: 150px;
    height: 34px;
}
.header6_box_right2{
    margin-top: 4%;
}
.header6_box_right2 img{
    float: left; 
}
.header6_box_right2 h3{
    font-size: 20px;
    line-height: 35px;
}
.header6_box_right2 a{
    text-decoration: none;
}
.header6_box_right2 a img{
    width: 200px;
    height: 94px;
    object-fit: fill;
}
.boxx{
    width: 90%;
}
.logo img{
    padding-left: 10%;
    padding-right: 10%;
}
.header7{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 15px;
}

.header8{
    width: 100%;
    height: 250px;
    padding-bottom: 20px;
}
.header8 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
    border:  3px #f40000 solid;
}

.footer{
    padding: 15px;
    color: white;
    width: 100%;
    height: auto;
    background: linear-gradient(to top, #F40000 0%, #DD5F11 100%);
}
.footer_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px;
}
.box .footer_h5{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 15px;
}
.footer_box .box{
    padding-top: 50px;
    padding-bottom: 10px;
}

.footer_copyright{
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, #F40000 0%, #DD5F11 100%);
}
.footer_copyright p a{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.u888_10001{
    padding-bottom: 40px;
}
.footer_box ul{
    padding-left:2px;
    list-style: none;
}
.footer_box ul li a{
    color: white;
    padding: 2px;
    text-decoration: none;
}
@media (min-width: 300px) { 
    .header1 img,.logo img,.logo1 img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .footer_box .box{
        padding-top: 0;
        padding-bottom: 0;
    }

    .container-fluid{
        width: 50%;
    }
    .header1 ul li a {
        display: none;
    }
    .header2 img{
        width: 100%;
        height: 40px;
        border-radius: 15px;
    }
    /* .small_img ul {
        top:11%;
        gap: 50px;
    } */
    .logo1{
        height: 200px;
    }
    .header8{
        height: 100px;
    }
    .footer_box1{
        width: 100%;
    }
    
 }
/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .header1 img,.logo img,.logo1 img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .slider .slider_big img{
        width: 100%;
        object-fit: fill;
    }
    .header6{
        width: 100%;
        background-color: white;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        border: 3px solid #DD5F11;
    }
    .header6_box_left{
        height: 100%;
        width: 100% !important;
        margin-left: 20px;
        background: #000;
    }
    .header6_box_right{
        height: 100%;
        width: 100% !important;
        margin-left: 20px;
        background-color: #DD5F11 !important;
    }
    
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .header1 img,.logo img,.logo1 img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
 }
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header1 img,.logo img,.logo1 img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .header1 ul li a {
        display: block;
    }
    /* .fa-bars{
        display: none;
    } */
    .logo1{
        height: 300px;

    }
    .header8{
        height: 250px;

    }
    .footer_box1{
        width: 30%;
    }
}
.box-item {
    display: flex;
}
.box-content{
    background-color: white;
    border: 2px solid #DD5F11;
    border-radius: 5px;
}
.box-item-left{
    width: 30%;
}
.box-item-left img{
    padding: 5px 0px ;
}
.box-item-right{
    width: 70%;
}
.box-item-right{
    padding-left: 10px;
}
.slider ,.header3 ,.header2,.header8{
    margin-top: 5px;
}


@media screen and (max-width: 948px){
    .header3_top{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 15px;
    }
    .box-item {
        display: flex;
        flex-direction: column;
    }
    .box-item-left{
        display: flex;
        width: 100%;
    }
    .box-item-right{
        width: 100%;
    }
    .header6_box_right2 img{
        float: left;
    }
    .header6_box_right2 h3{
        font-size: 10px;
    }
    .header6_box_right2 a img {
        width: 50px;
        height: 30PX;
        object-fit: fill;
    }
    .footer_box{
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 15px;
        text-align: center;
    }
}

@media screen and (max-width:1000px) {
    .box-item-left{
        margin-top: 40px;
    }
   
    .header .menu{
        position: fixed;
        top: 0;
        /* left: 0; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-y: hidden;
        transition: 0.5s ease;
        z-index: 100;
    }

    .header ul{
        /* position: absolute; */
        top: 0;
        width: 100%;
        background-color: #DD5F11;
        color: white;
        display: flex;
        flex-direction: column;
        z-index: 100;
    }
    .open-nav, .close-nav{
        display: block !important;
    }
    
}

.header {
    background-color: burlywood;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul{
    color: white;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.open-nav, .close-nav{
    display: none;
}

@media (max-width: 850px) {
    .nav-menu {
        position: absolute;
        right: 0%;
        top: -600%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        transition: 0.4s ease-in-out;
        font-size: 13px;
        z-index: 1 !important;
    }

    .active {
        top: 0% !important;
    }
}
@media (max-width: 850px){
         .fa-bars{
        display: none;
    }
}